<?xml version="1.0"?>
<config>
    <modules>
        <Twoboysoneshop_Configr>
            <version>0.2.3</version>
        </Twoboysoneshop_Configr>
    </modules>

    <global>

        <models>
            <configr>
                <class>Twoboysoneshop_Configr_Model</class>
                <resourceModel>configr_mysql4</resourceModel>
            </configr>
            <configr_mysql4>
                <class>Twoboysoneshop_Configr_Model_Mysql4</class>
                <entities>
                    <history><table>configr_history</table></history>
                </entities>
            </configr_mysql4>
        </models>
        <resources>
            <configr_setup>
                <setup>
                    <module>Twoboysoneshop_Configr</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </configr_setup>
        </resources>

        <blocks>
            <configr>
                <class>Twoboysoneshop_Configr_Block</class>
            </configr>
        </blocks>

        <helpers>
            <configr>
                <class>Twoboysoneshop_Configr_Helper</class>
            </configr>
        </helpers>

    </global>


    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <configr before="Mage_Adminhtml">Twoboysoneshop_Configr_Adminhtml</configr>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <configr>
                    <file>twoboysoneshop_configr.xml</file>
                </configr>
            </updates>
        </layout>

        <translate>
            <modules>
                <configr>
                    <files>
                        <default>Twoboysoneshop_Configr.csv</default>
                    </files>
                </configr>
            </modules>
        </translate>
        
        <events>
            <model_save_commit_after>
                <observers>
                    <logConfigDataChange>
                        <class>configr/observer</class>
                        <method>logConfigDataChange</method>
                    </logConfigDataChange>
                </observers>
            </model_save_commit_after>
            <controller_action_postdispatch_adminhtml_system_config_save>
                <observers>
                    <redirectToConfigOverview>
                        <class>configr/observer</class>
                        <method>redirectToConfigOverview</method>
                    </redirectToConfigOverview>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save>
        </events>
    </adminhtml>

    <default>
        <configr>
            <history>
                <enabled>1</enabled>
            </history>
            <colors>
                <default>white</default>
                <website>orange</website>
                <store>orangered</store>
            </colors>
            <acl>
                <enabled>0</enabled>
            </acl>
        </configr>
    </default>
</config>
