th small {
    color:                  #CCCCCC;
    font-weight:            normal;
}

th small:hover {
    color:                  #000000;
    font-weight:            normal;
}

td.store div {
    position:               relative;
}

td.store span {
    display:                none;
}

td.store:hover span {
    overflow:               auto;
    z-index:                100;
    padding:                5px;
    border:                 2px solid #f1af73;
    /*padding:                15px 60px; */
    background:             #fff4e9;
    display:                block;
    position:               absolute;
    top:                    0px;
    right:                  -312px;    
    width:                  300px;
}

#config-detail {
    position:               fixed;
    top:                    50%;
    left:                   50%;
    width:                  650px;
    margin-left:            -325px;
    padding:                10px;
    border:                 2px solid #f1af73;
    /*padding:                15px 60px; */
    background:             #fff4e9;
    z-index:                501;
}

.close-button {
    text-decoration:        none;
    border:                 2px solid #f1af73;
    -moz-border-radius:     20px;
    -webkit-border-radius:  20px;
    border-radius:          20px;
    text-align:             center;
    vertical-align:         middle;
    margin:                 auto;
    position:               absolute;
    background-color:       white;
    right:                  -13px;
    top:                    -13px;
    width:                  20px;
    height:                 20px;
    color:                  #f1af73;
    font-size:              16px;
    font-weight:            bold;
    display:                block;
}

